@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Geist", sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    scroll-behavior: smooth;
    @apply scroll-pt-20 lg:scroll-pt-14;
    height: 100%;
  }

  body {
    overflow-x: hidden;
    height: 100%;
  }

  a {
    @apply cursor-pointer;
  }
}

@layer components {
  .loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
  }

  .loader:before,
  .loader:after {
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
  }
  .loader:before {
    animation: ball1 1s infinite;
    background-color: #2e3192;
    box-shadow: 30px 0 0 #e66704;
    margin-bottom: 10px;
  }
  .loader:after {
    animation: ball2 1s infinite;
    background-color: #e66704;
    box-shadow: 30px 0 0 #2e3192;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg) scale(0.8);
    }
    50% {
      transform: rotate(360deg) scale(1.2);
    }
    100% {
      transform: rotate(720deg) scale(0.8);
    }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #e66704;
    }
    50% {
      box-shadow: 0 0 0 #e66704;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #e66704;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #2e3192;
    }
    50% {
      box-shadow: 0 0 0 #2e3192;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }
    100% {
      box-shadow: 30px 0 0 #2e3192;
      margin-top: 0;
    }
  }
}

@layer utilities {
  .scroll-padding {
    scroll-padding-top: 50px;
  }
  .active {
    @apply text-primary-500;
  }
}

.slider {
  @apply relative h-[600px] w-full overflow-hidden md:h-[500px] lg:h-[900px];

  & a {
    &.previousButton,
    &.nextButton {
      font-size: 22px;
      line-height: 0;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s linear;
      z-index: 1;
      padding: 10px;
      text-decoration: none;
      backface-visibility: hidden;

      &:not(.disabled):hover {
        transform: translateY(-50%) scale(1.25);
        cursor: pointer;
      }

      & svg {
        & polygon {
          fill: #ffd800;
        }
      }
    }

    &.previousButton {
      @apply left-0 md:left-5;
    }

    &.nextButton {
      @apply right-0 md:right-5;
    }
  }
}

.sliderContent {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  text-align: center;
  background-size: cover !important;

  &:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    bottom: 0;
    left: 0;
  }

  &.hidden {
    visibility: hidden;
  }

  &.previous {
    left: -100%;
  }

  &.current {
    left: 0;
  }

  &.next {
    left: 100%;
  }

  &.animateIn,
  &.animateOut {
    transition: all 2s ease;
  }

  &.animateIn {
    &.previous,
    &.next {
      left: 0;
      visibility: visible;

      & p {
        transition-delay: 1.1s;
      }

      & button {
        transition-delay: 1.3s;
      }

      & section img {
        transition-delay: 1.3s;
      }

      & section span {
        transition-delay: 1.4s;
      }

      & section span strong {
        transition-delay: 1.5s;
      }
    }
  }

  &.animateOut {
    &.previous {
      left: 100%;
    }

    &.next {
      left: -100%;
    }

    & h1 {
      transition-delay: 0.3s;
    }

    & p {
      transition-delay: 0.2s;
    }

    & section span {
      transition-delay: 0.1s;
    }

    & section span strong {
      transition-delay: 0s;
    }
  }

  &.current,
  &.animateIn {
    & h1,
    & button,
    & p,
    & section * {
      transform: translateX(0);
      transition-delay: 0.9s;
      opacity: 1;
    }
  }

  & .inner {
    padding: 0 70px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  & h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  & section {
    position: absolute;
    bottom: 20px;
    left: 20px;

    & * {
      transition: all 0.3s ease;
    }

    & span {
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
      display: inline-block;
      text-align: left;
      line-height: 1.4;
      vertical-align: middle;
      margin-left: 10px;
      transform: translateX(-10px);
      opacity: 0;

      & strong {
        color: #ffffff;
        font-size: 14px;
        display: block;
        transform: translateY(10px);
        opacity: 0;
      }
    }

    & img {
      width: 40px;
      height: 40px;
      border: solid 2px rgba(255, 255, 255, 0.5);
      border-radius: 100%;
      vertical-align: middle;
      transition: all 0.5s ease;
      transform: translateX(-20px);
      opacity: 0;
    }
  }
}

.custom_bg {
  background-color: #266ba3;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%231f649c' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23185c94' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2313558b' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%230d4e82' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23094678' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23094170' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23083d67' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%2308385f' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23073457' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23072F4F' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}
.icon {
  width: 70px;
  height: 70px;
}
